<mat-toolbar color="primary" class="menu">
    <div>
        <div class="logo">
            <div class="circulo lime"><span> PD </span></div>
            <div class="custon-text">Padoca</div>
        </div>
        <span class="example-spacer"></span>
    </div>
    <div>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>store</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
</mat-toolbar>